h1 {
    @apply text-4xl font-normal;
}

#slide-content {
    @apply dark:(bg-dark text-light) light:(bg-light text-dark);
}

:where(.slidev-layout) {
    code {
        @apply rounded-sm border-1 border-opacity-60 border-primary;
        @apply dark:bg-dark-700 light:bg-light-700;
        @apply text-sm;
    }

    pre code {
        @apply !bg-transparent border-none text-base;
    }
}
.slidev-layout {
    @apply text-lg;

    h1,
    p,
    blockquote {
        font-size: revert;
        line-height: revert;
    }

    h1 strong {
        @apply font-normal;
    }

    ul {
        @apply list-circle;
    }

    blockquote {
        @apply px-8 py-2;
        @apply border-primary border-l-4 rounded-none;
    }

    strong {
        @apply text-primary;
    }

    mark {
        @apply bg-transparent;
        @apply dark:text-light;
        @apply relative z-0 whitespace-nowrap;

        &::before {
            content: '';
            @apply absolute -inset-x-1 inset-y-0 -z-1;
            @apply transform -skew-x-5 -skew-y-1;
            @apply bg-gradient-to-tl from-primary to-gradient-to;
            @apply opacity-30;
        }
    }
}
