:where(html) {
    --gradient-drc-base: linear-gradient(to bottom, var(--color-base) 20%, var(--color-transparent) 150%);
    --gradient-drc-stops: var(--color-gradient-from), var(--color-gradient-to);
    --gradient-drc-color: linear-gradient(to right, var(--gradient-drc-stops));
    --gradient-drc:var(--gradient-drc-base), var(--gradient-drc-color);

    --gradient-spark: linear-gradient(to left, var(--color-transparent), rgba(255, 255, 255, 0.95) 20%, var(--color-transparent));
    --gradient-separator: linear-gradient(to left, var(--color-transparent), var(--color-primary) 10%, var(--color-primary) 35%, var(--color-transparent));

    --color-transparent: rgba(255, 255, 255, 0);
    --color-gradient-from: theme('colors.gradient.from');
    --color-gradient-to: theme('colors.gradient.to');
    --color-dark: theme('colors.dark.DEFAULT');
    --color-light: theme('colors.light.DEFAULT');
    --color-primary: theme('colors.primary');
}

html.dark {
    --color-base: var(--color-dark);
    --color-base-invert: var(--color-light);
}

html.light {
    --color-base: var(--color-light);
    --color-base-invert: var(--color-dark);
}

// HOTFIX: New gradient imported
html {
    --gradient-drc: radial-gradient(at 65% 75%,#171717 0,transparent 100%),radial-gradient(at 65% 42%,rgba(255,200,0,.7) 0,transparent 50%),radial-gradient(at 30% 35%,rgba(245,61,76,.7) 0,transparent 35%),radial-gradient(at 34% 57%,rgba(234,0,255,.7) 0,transparent 50%),radial-gradient(at 76% 53%,rgba(89,0,255,.7) 0,transparent 64%);
}
